  @if(DeliveryAddress != null)
    {
 
<!-- Add New Address-->
<EditForm OnValidSubmit="HandleValidSubmit" Model="@DeliveryAddress" class="needs-validation modal fade" method="post" id="update-address" tabindex="-1" novalidate>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update address</h5>
                <button class="btn-close" type="button" @onclick="()=>Close()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gx-4 gy-3">
                    <div class="col-sm-6">
                        <label class="form-label" for="address-fn">First name</label>
                        <input class="form-control" type="text" id="address-fn" required>
                        <div class="invalid-feedback">Please fill in you first name!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-ln">Last name</label>
                        <input class="form-control" type="text" id="address-ln" required>
                        <div class="invalid-feedback">Please fill in you last name!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-street">Street</label>
                        <InputText  @bind-Value="DeliveryAddress.Street"  class="form-control" type="text"   id="address-street"></InputText>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-province">Province</label>
                        <InputSelect @bind-Value="DeliveryAddress.Province" class="form-select" id="address-province" required>
                            <option value>Select country</option>
                            <option value="Free State">Free State</option>
                            <option value="Gauteng">Gauteng</option>
                            <option value="Western Cape">Western Cape</option>
                            <option value="Kwazulu-Natal">Kwazulu-Natal</option>
                            <option value="North-West">North West</option>
                        </InputSelect>
                        <div class="invalid-feedback">Please select your province!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-city">City</label>
                        <InputText @bind-Value="DeliveryAddress.City" class="form-control" type="text" id="address-city" required></InputText>
                        <div class="invalid-feedback">Please fill in your city!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-line1">Suburb</label>
                        <InputText @bind-Value="DeliveryAddress.Suburb" class="form-control" type="text" id="address-line1" required></InputText>
                        <div class="invalid-feedback">Please fill in your address!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-complex">Complex (enter "none" if not applicable)</label>
                        <InputText @bind-Value="DeliveryAddress.Complex" class="form-control" type="text" id="address-complex"></InputText>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-zip">Postal code</label>
                        <InputText @bind-Value="DeliveryAddress.ZipCode" class="form-control" type="text" id="address-zip" required></InputText>
                    </div>

                    <div class="col-sm-6">
                        @if (!string.IsNullOrWhiteSpace(Message))
                        {
                            <div class="invalid-feedback">@Message</div>

                        }
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="DeliveryAddress.IsPrimary" class="form-check-input" type="checkbox" id="address-primary"></InputCheckbox>
                            <label class="form-check-label" for="address-primary">Make this address primary</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="()=>Close()" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-shadow" data-bs-dismiss="modal" type="submit">Update address</button>
            </div>
        </div>
    </div>
    </EditForm>
}
