@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="col-sm-6">
    <div class="d-fle flex-column h-100 rounded-3 bg-secondary px-3 px-sm-4 py-4">
        <h2 class="h5 pb-3">Your total</h2>
        <div class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3"><span>Subtotal:</span><span class="text-heading">@($"R{State.Value.Basket.BasketTotal}")@* <small>00</small> *@</span></div>
        <div class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3"><span>Delivery:</span><span class="text-heading">R00.<small>00</small></span></div>
        <div class="d-flex justify-content-between fs-md mb-2"><span>Total:</span><span class="text-heading fw-medium">@($"R{State.Value.Basket.BasketTotal}")@* <small>00</small> *@</span></div>
    </div>
</div>