
<div class="container pb-5 mb-sm-4">
    <div class="pt-5">
        <div class="card py-3 mt-sm-3">
            <div class="card-body text-center">
                <h2 class="h4 pb-3">Your cart is empty!</h2>
                <h4 class="fs-sm mb-2">Add some delicious meals to your cart.</h4>
                <a class="btn btn-secondary mt-3 me-3" href="@("/")">Go back shopping</a>
            </div>
        </div>
    </div>
</div>