@page "/cart"
@attribute [AllowAnonymous]
<div class="container pt-4 pb-3 py-sm-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="@("/")"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
        </ol>
    </nav>
    
    <div class="rounded-3 shadow-lg mt-4 mb-5">
   
                <ul class="nav nav-tabs nav-justified mb-4">
                    <li class="nav-item"><a class="nav-link fs-lg fw-medium py-4 @(Widget==typeof(Order) ? "active":"") " @onclick="()=>SelectWidget(typeof(Order))">1. Your order</a></li>
                    <li class="nav-item"><a class="nav-link fs-lg fw-medium py-4 @(Widget==typeof(Checkout) ? "active": "") " @onclick="()=>SelectWidget(typeof(Checkout))">2. Checkout</a></li>
                </ul>
         

          @if(ApplicationState.NumberOfItems<=0)
        {
            <EmptyCartMessage/>
        }else
        {
            <DynamicComponent Type="Widget" />
        }


    </div>
</div>
