@page "/restaurant/{restaurantId:guid}"  
 
<MenuItemQuickViewModal MenuItem="_selectedMenuItem"/>

<!-- Page title-->
<section class="bg-darker bg-size-cover bg-position-center py-5" style="background-image: url(img/food-delivery/restaurants/single/pt-bg.jpg);">
    <div class="container py-md-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
                <li class="breadcrumb-item text-nowrap">
                    <a href="#">Restaurants</a>
                </li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page">@RestaurantVm.Name</li>
            </ol>
        </nav>
        <h1 class="text-light text-center text-lg-start py-3">@RestaurantVm.Name</h1>
    </div>
</section>

<MenuNavigation OnMenuSelected="GetMenuItems" RestaurantId="RestaurantId"/>
<MenuItems OnMenuItemSelected="ShowQuickViewPopup" MenuItemsList="MenuItemsList"/>