@inherits LayoutComponentBase

<!-- Google Tag Manager (noscript)-->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
</noscript>


<AuthModal/>

<main class="page-wrapper">
    
<NavBar />

@Body

</main>

<Footer/>