<Fluxor.Blazor.Web.StoreInitializer/>
<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(Program).Assembly" >
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >

                <NotAuthorized>
                    <p>You're not authorized to view this page</p>
                </NotAuthorized>
                <Authorizing>
                    <Loader/>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@* @code{
    private List<Assembly> _lazyLoadedAssemblies = new List<Assembly>();
    private async Task OnNavigateAsync(NavigationContext args)
    {
        if(args .Path.Contains("Helllo"))
        {
            var assemblies = await LazyAssemblyLoader.LoadAssembliesAsync(new string[]{""});
            _lazyLoadedAssemblies.AddRange(assemblies);
        }
    }
} *@