@if(Categories == null)
{
    <p>loading...</p>
}else
{
    


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Cuisine</a>
    <div class="dropdown-menu px-2 ps-0 pb-4">

        <div class="d-flex">

            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/burger.svg" width="60" alt="Burgers &amp; Fries">
                        <h6 class="fs-base text-center">Burgers &amp; Fries</h6>
                    </a>
                </div>
            </div>

            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/noodles.svg" width="60" alt="Noodles">
                        <h6 class="fs-base text-center">Noodles</h6>
                    </a>
                </div>
            </div>

            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/pizza.svg" width="60" alt="Pizza &amp; Pasta">
                        <h6 class="fs-base text-center">Pizza &amp; Pasta</h6>
                    </a>
                </div>
            </div>

        </div>

        <div class="d-flex">

            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/steak.svg" width="60" alt="Grill &amp; Steaks">
                        <h6 class="fs-base text-center">Grill &amp; Steaks</h6>
                    </a>
                </div>
            </div>

            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/fish.svg" width="60" alt="Fish &amp; Seafood">
                        <h6 class="fs-base text-center">Fish &amp; Seafood</h6>
                    </a>
                </div>
            </div>

            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/healthy.svg" width="60" alt="Healthy Food">
                        <h6 class="fs-base text-center">Healthy Food</h6>
                    </a>
                </div>
            </div>

        </div>

        <div class="d-flex">
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/cuisine.svg" width="60" alt="Haute Cuisine">
                        <h6 class="fs-base text-center">Haute Cuisine</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/chicken.svg" width="60" alt="Chicken &amp; Snaks">
                        <h6 class="fs-base text-center">Chicken &amp; Snaks</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/coffee.svg" width="60" alt="Coffee &amp; Desserts">
                        <h6 class="fs-base text-center">Coffee &amp; Desserts</h6>
                    </a>
                </div>
            </div>
        </div>



    </div>
</li>

}

@* <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Cuisine</a>
    <div class="dropdown-menu px-2 ps-0 pb-4">
        <div class="d-flex">
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/burger.svg" width="60" alt="Burgers &amp; Fries">
                        <h6 class="fs-base text-center">Burgers &amp; Fries</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/noodles.svg" width="60" alt="Noodles">
                        <h6 class="fs-base text-center">Noodles</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/pizza.svg" width="60" alt="Pizza &amp; Pasta">
                        <h6 class="fs-base text-center">Pizza &amp; Pasta</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/steak.svg" width="60" alt="Grill &amp; Steaks">
                        <h6 class="fs-base text-center">Grill &amp; Steaks</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/fish.svg" width="60" alt="Fish &amp; Seafood">
                        <h6 class="fs-base text-center">Fish &amp; Seafood</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/healthy.svg" width="60" alt="Healthy Food">
                        <h6 class="fs-base text-center">Healthy Food</h6>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/cuisine.svg" width="60" alt="Haute Cuisine">
                        <h6 class="fs-base text-center">Haute Cuisine</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/chicken.svg" width="60" alt="Chicken &amp; Snaks">
                        <h6 class="fs-base text-center">Chicken &amp; Snaks</h6>
                    </a>
                </div>
            </div>
            <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                <div class="widget mb-3">
                    <a class="d-block" href="food-delivery-category.html">
                        <img class="d-block mx-auto mb-3" src="img/food-delivery/icons/coffee.svg" width="60" alt="Coffee &amp; Desserts">
                        <h6 class="fs-base text-center">Coffee &amp; Desserts</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li> *@