    <div class="d-flex align-items-center justify-content-center" style="height: 100vh; margin:0;">
        <div class="spinner-grow d-flex text-secondary align-items-center justify-content-center opacity-0 " style="width: 10rem; height: 10rem;" role="status">
            <img src="img/logo-icon.png" width="71" alt="Gaolos">
        </div>

    </div>
