      <!-- Popular restaurants logo grid-->
<section class="container pb-4 pt-2 pt-sm-0 pt-md-2 pb-sm-5">
    <h2 class="text-center">Popular restaurants in your city</h2>
    <p class="text-muted pb-4 text-center">Check the best restaurants near you</p>
    <div class="row pb-2 pb-sm-0 pb-md-3">
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/01.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/02.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/03.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/04.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/05.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/06.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/07.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/08.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/09.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/10.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/11.png" style="width: 150px;" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html"><img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/12.png" style="width: 150px;" alt="Brand"></a></div>
    </div>
</section>